# Logs
*.log
pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# Web Frontend
web/node_modules
web/dist
web/web

# Build & Release
build/
build_dist/
release/
latest/
NanoKVM-Server
support/scripts/NanoKVM-Pro
support/toolchains/
support/sdk/
support/scripts/kernel_tools/
support/kernel/*_signed.bin
support/kernel/*_signed.dtb
support/base_firmware/*.axp
support/base_firmware/*.tar.gz
support/base_firmware/axp_temp/
support/base_firmware/nanokvm_pro_*
*.deb
*.ext4
*.fat32
*.img
*.img.xz
!.agents/
!support/blobs/**
mount_point/
support/packages/nanokvmpro/kvmapp/server/NanoKVM-Server
support/packages/nanokvmpro/kvmapp/server/web/
images/

# IDE/Editor
.idea
.vscode
.zed

# Temporary/Local
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS Volume Files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS AFP Share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
