# Logs
*.log
pnpm-debug.log*

# Web Frontend
web/node_modules
web/dist
web/web

# Build & Release
build/
release/
latest/
NanoKVM-Server
+support/scripts/NanoKVM-Pro
+support/toolchains/

# IDE/Editor
.idea
.vscode
.zed

# Temporary/Local
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS Volume Files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS AFP Share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
